{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-4 offset-md-2 col-10 offset-1 text-center">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group">
                    <input type="file" class="form-control" id="file" name="file" aria-describedby="inputFileHelp" aria-label="Upload" required>
                    <button class="btn btn-outline-secondary" type="submit" id="uploadButton">Upload</button>
                </div>
                <div id="inputFileHelp" class="form-text text-start mt-1">Only accepts CSV files</div>
            </form>
        </div>
        <div class="col-md-auto col-12 text-center mt-1">
                {% if sets is not None %}
                    <p class="d-inline">Current Set: </p>
                    <select id="set-selector" class="border">
                        {% for set in sets %}
                            <option value="{{set}}" {% if set == selected_set %} selected {% endif %}>{{set}}</option>
                        {% endfor %}
                    </select>
                {% endif %}
        </div>
        <div class="col-md-auto col-12 text-center">
            {% if selected_set is not None %}
                <a href="#" data-bs-toggle="modal" data-bs-target="#delete_{{ selected_set }}" class="btn btn-danger">Delete This Set</a>
                <div class="modal fade" id="delete_{{ selected_set }}" tabindex="-1" aria-labelledby="delete_{{ selected_set }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6>Current Set: {{ selected_set }}</h6>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you wish to delete this set?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-black rounded-0" data-bs-dismiss="modal">Close</button>
                                <a href="{% url 'delete_data_set' selected_set %}" type="button" class="btn btn-danger rounded-0">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {% if graph is not None %}
                {% autoescape off %}
                {{ graph }}
                {% endautoescape %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        // Handles changing of data sets if change in dropdown
        $('#set-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);
            var selectedVal = selector.val();
            if(selectedVal != "data_0") {
                var new_set = selectedVal;
                currentUrl.searchParams.set("new_set", new_set);
                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("new_set");
                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}